<section class="section-about about section about-me-background-img" id="about">
  <div class="container about-container">
    <h2 class="about-title section-title">ABOUT <span class="about-span">ME</span></h2>
    <img class="about-img" src="../img/my-photo1.png" alt="About Me" />
    <div class="bio">
      <h3 class="about-item-title">BIO</h3>
      <p class="about-text">
        I am a Junior Fullstack Developer with foundational skills in web development. I use
        <b>HTML5</b> and <b>CSS3/SCSS</b> to create stylish and responsive interfaces. I am familiar
        with <b>JavaScript</b> and <b>React</b>, which I use to develop dynamic user interfaces. I
        also work with <b>Redux</b> and <b>Redux Toolkit</b> for state management and
        <b>TypeScript</b> to enhance code reliability.
      </p>
      <p class="about-text">
        On the server side, I work with <b>Node.js</b> to build simple applications, and I use Git
        and GitHub for version control and collaboration. For hosting and deployment, I use Vercel.
        I am proficient in <b>RestAPI</b> and <b>AJAX</b> for server communication and asynchronous
        data handling. I am eager to grow in web development, constantly improving my skills and
        learning new technologies.
      </p>
    </div>
    <div class="education">
      <h3 class="about-item-title">EDUCATION</h3>
      <ul class="education-list">
        <li>
          <p class="about-text-point">
            April 2024 - February 2025 <br />
            GoIT IT School, Ukraine
          </p>
        </li>
        <li>
          <p class="about-text-point">
            September 2010 - June 2015 <br />
            Poltava University of Economics and Trade (PUET), Ukraine
          </p>
        </li>
      </ul>
    </div>
    <div class="role">
      <h3 class="about-item-title">ROLE</h3>
      <ul class="role-list">
        <li class="role-text-item"><p class="about-text-point">Fullstack developer</p></li>
        <li class="role-text-item">
          <p class="about-text-point">Master's Degree in Enterprise Economics</p>
        </li>
      </ul>
    </div>
  </div>
</section>
