<section class="faq section bgr-img">
  <div class="faq-wrapper container">
    <h2 class="faq-title section-title">
      frequently asked <span class="faq-title-accent">question</span>
    </h2>
    <ul class="accordion-container">
      <li class="ac" id="ac-5">
        <h3 class="ac-header">
          <button class="ac-trigger" id="ac-trigger-5" type="button">
            <span id="btn-text-wrap-5"
              >What technologies and tools have you used in your projects?</span
            >
            <svg class="faq-svg" width="24" height="24">
              <use
                xlink:href="/img/icon.svg#icon-FAQ"
                x="50%"
                y="75%"
                transform="translate(-12, -12)"
              ></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p id="ac-text-5">
            I have used HTML, CSS, and JavaScript to create web pages and interfaces. I’ve worked
            with frameworks like React to build dynamic interfaces. For state management, I’ve used
            Redux. I’m also learning the basics of Node.js and databases to understand the backend
            of applications.
          </p>
        </div>
      </li>
      <li class="ac" id="ac">
        <h3 class="ac-header">
          <button class="ac-trigger" id="ac-trigger" type="button">
            <span id="btn-text-wrap"
              >What programming languages are most often used in your project?</span
            >
            <svg class="faq-svg">
              <use xlink:href="/img/icon.svg#icon-FAQ"></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p id="ac-text">
            In the field of web development, there are various technologies and programming
            languages. Typically, this includes a combination of frontend (client side) and backend
            (server side) languages.
          </p>
        </div>
      </li>
      <li class="ac" id="ac-1">
        <h3 class="ac-header">
          <button class="ac-trigger" id="ac-trigger-1" type="button">
            <span id="btn-text-wrap-1"
              >Can you describe a project you've worked on and your role in it?
            </span>
            <svg class="faq-svg" width="24" height="24">
              <use
                xlink:href="/img/icon.svg#icon-FAQ"
                x="50%"
                y="75%"
                transform="translate(-12, -12)"
              ></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p id="ac-text-1">
            One of the projects I worked on was a small movie search application built using HTML,
            CSS, JavaScript, and React. My role included creating the user interface, integrating an
            external API for movie data, and ensuring the application was responsive and functional
            across different devices.
          </p>
        </div>
      </li>
      <li class="ac" id="ac-2">
        <h3 class="ac-header">
          <button class="ac-trigger" id="ac-trigger-2" type="button">
            <span id="btn-text-wrap-2"
              >How do you approach learning new technologies or tools?
            </span>
            <svg class="faq-svg" width="24" height="24">
              <use
                xlink:href="/img/icon.svg#icon-FAQ"
                x="50%"
                y="75%"
                transform="translate(-12, -12)"
              ></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p id="ac-text-2">
            I usually start by reading documentation and following tutorials to get an overview of
            the technology. Then, I try to apply what I’ve learned by building small projects or
            adding new features to existing ones. I also like to ask for feedback from more
            experienced developers to improve my skills.
          </p>
        </div>
      </li>
      <li class="ac" id="ac-3">
        <h3 class="ac-header">
          <button class="ac-trigger" id="ac-trigger-3" type="button">
            <span id="btn-text-wrap-3">How can I contact you?</span>
            <svg class="faq-svg" width="24" height="24">
              <use
                xlink:href="/img/icon.svg#icon-FAQ"
                x="50%"
                y="75%"
                transform="translate(-12, -12)"
              ></use>
            </svg>
          </button>
        </h3>
        <div class="ac-panel">
          <p id="ac-text-3">
            You can contact me via email, direct messages on LinkedIn, Instagram, or Telegram. I am
            always open to discussing your project and ready to answer any questions!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
