<section id="projects" class="section">
  <div class="container">
    <h2 class="projects-head section-title">My <span class="projects-title">projects</span></h2>
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper my-projects-swiper-wrapper">
        <li class="swiper-slide my-projects-slide">
          <a
            class="my-projects-card-link"
            href="https://aqua-track-client.vercel.app/"
            target="_blank"
          >
            <article class="my-projects-card">
              <svg class="my-projects-card-icon">
                <title>https://aqua-track-client.vercel.app/</title>
                <use href="/img/icon.svg#icon-external-link"></use>
              </svg>
              <h2 class="my-projects-card-title">AquaTrack-project</h2>
              <img src="/img/Aquatrck.jpg" />
              <div class="my-projects-card-info">
                <p>
                  <span class="my-projects-card-info-accent">Technologies used:</span> HTML, CSS,
                  React.js, Redux Toolkit, Node.js, Express, MongoDB, RestAPI, Vite
                </p>
                <p>
                  <span class="my-projects-card-info-accent">Description:</span> This is a team
                  Fullstack project that implements a user registration and authentication system.
                  The frontend is built with React, and state management is handled using Redux
                  Toolkit. A custom-built backend processes authentication via an API. The design is
                  responsive, and the interface is modern and user-friendly.
                </p>
                <p><span class="my-projects-card-info-accent">Role:</span>Team Lead, Developer</p>
              </div>
            </article>
          </a>
        </li>
        <li class="swiper-slide my-projects-slide">
          <a
            class="my-projects-card-link"
            href="https://phonebook-project-react-redux.vercel.app/"
            target="_blank"
          >
            <article class="my-projects-card">
              <svg class="my-projects-card-icon">
                <title>https://phonebook-project-react-redux.vercel.app/</title>
                <use href="/img/icon.svg#icon-external-link"></use>
              </svg>
              <h2 class="my-projects-card-title">Phonebook-project</h2>
              <img src="/img/phonebook-project.webp" />
              <div class="my-projects-card-info">
                <p>
                  <span class="my-projects-card-info-accent">Technologies used:</span> HTML, CSS,
                  JS, RestAPI, React, Redux, Vercel
                </p>
                <p>
                  <span class="my-projects-card-info-accent">Description:</span> The Phonebook
                  project is a web application for managing contacts with registration and
                  authentication, developed using JavaScript, React, Redux/Toolkit, and RestAPI. My
                  role included implementing key features, integrating with the API, and setting up
                  the authorization and authentication system.
                </p>
                <p><span class="my-projects-card-info-accent">Role:</span> Developer</p>
              </div>
            </article>
          </a>
        </li>
        <li class="swiper-slide my-projects-slide">
          <a
            class="my-projects-card-link"
            href="https://movieinfo-project-on-react.vercel.app/"
            target="_blank"
          >
            <article class="my-projects-card">
              <svg class="my-projects-card-icon">
                <title>https://movieinfo-project-on-react.vercel.app/</title>
                <use href="/img/icon.svg#icon-external-link"></use>
              </svg>
              <h2 class="my-projects-card-title">Movieinfo-project</h2>
              <img src="/img/movieinfo-project.webp" />
              <div class="my-projects-card-info">
                <p>
                  <span class="my-projects-card-info-accent">Technologies used:</span> HTML, CSS,
                  JS, React, RestAPI, Vercel
                </p>
                <p>
                  <span class="my-projects-card-info-accent">Description:</span> MovieInfo is a web
                  app for searching movies and viewing their descriptions, built with HTML, CSS,
                  JavaScript, and React. It features dynamic data loading, a responsive design, and
                  is hosted on Vercel. The project showcases skills in React components, state
                  management, and API integration. Role: developer.
                </p>
                <p><span class="my-projects-card-info-accent">Role:</span> Developer</p>
              </div>
            </article>
          </a>
        </li>
        <li class="swiper-slide my-projects-slide">
          <a
            class="my-projects-card-link"
            href="https://igorivchenko.github.io/Portfolio/"
            target="_blank"
          >
            <article class="my-projects-card">
              <svg class="my-projects-card-icon">
                <title>https://igorivchenko.github.io/Portfolio/</title>
                <use href="/img/icon.svg#icon-external-link"></use>
              </svg>
              <h2 class="my-projects-card-title">Portfolio-project</h2>
              <img src="/img/portfolio-project.webp" />
              <div class="my-projects-card-info">
                <p>
                  <span class="my-projects-card-info-accent">Technologies used:</span> HTML, CSS,
                  JS, Vite
                </p>
                <p>
                  <span class="my-projects-card-info-accent">Description:</span> This portfolio
                  project is a collaborative effort showcasing our skills in HTML, CSS, and
                  JavaScript, using the Vite bundler. It features a clean and modern UI with
                  interactive elements, a responsive design for various devices, and optimized
                  performance for an engaging user experience. The project also highlights
                  experience with Git and GitHub for version control and effective team
                  collaboration.
                </p>
                <p><span class="my-projects-card-info-accent">Role:</span> Team Lead, Developer</p>
              </div>
            </article>
          </a>
        </li>
        <li class="swiper-slide my-projects-slide">
          <a
            class="my-projects-card-link"
            href="https://igorivchenko.github.io/roboscool-project/"
            target="_blank"
          >
            <article class="my-projects-card">
              <svg class="my-projects-card-icon">
                <title>https://igorivchenko.github.io/roboscool-project/</title>
                <use href="/img/icon.svg#icon-external-link"></use>
              </svg>
              <h2 class="my-projects-card-title">Roboschool-project</h2>
              <img src="/img/roboschool-project.webp" />
              <div class="my-projects-card-info">
                <p>
                  <span class="my-projects-card-info-accent">Technologies used:</span> HTML,
                  CSS/SASS, JS
                </p>
                <p>
                  <span class="my-projects-card-info-accent">Description:</span> The project is a
                  website with a clean and modern design. It features a responsive interface and
                  includes a custom preloader. The project utilizes SASS technology for managing
                  styles and improving code structure
                </p>
                <p><span class="my-projects-card-info-accent">Role:</span> Developer</p>
              </div>
            </article>
          </a>
        </li>
        <li class="swiper-slide my-projects-slide">
          <a class="my-projects-card-link" href="https://harrypottter.netlify.app/" target="_blank">
            <article class="my-projects-card">
              <svg class="my-projects-card-icon">
                <title>https://harrypottter.netlify.app/</title>
                <use href="/img/icon.svg#icon-external-link"></use>
              </svg>
              <h2 class="my-projects-card-title">Harrypotter-project</h2>
              <img src="/img/harrypotter-project.webp" />
              <div class="my-projects-card-info">
                <p>
                  <span class="my-projects-card-info-accent">Technologies used:</span> HTML,
                  CSS/SASS, JS, Netlify
                </p>
                <p>
                  <span class="my-projects-card-info-accent">Description:</span> A dynamic portfolio
                  showcasing technical skills and a professional approach. The project is built
                  using HTML, CSS/SASS, and JavaScript, ensuring fast builds and optimized
                  performance. Deployed on Netlify, it ensures accessibility and responsiveness
                  across devices. The project emphasizes clean code practices, modern UI/UX design,
                  and demonstrates proficiency in Git and GitHub for efficient version control.
                </p>
                <p><span class="my-projects-card-info-accent">Role:</span> Developer</p>
              </div>
            </article>
          </a>
        </li>
        <li class="swiper-slide my-projects-slide">
          <a
            class="my-projects-card-link"
            href="https://image-gallery-react-typescript.vercel.app/"
            target="_blank"
          >
            <article class="my-projects-card">
              <svg class="my-projects-card-icon">
                <title>https://harrypottter.netlify.app/</title>
                <use href="/img/icon.svg#icon-external-link"></use>
              </svg>
              <h2 class="my-projects-card-title">Image-gallery-project</h2>
              <img src="/img/imagegallery.webp" />
              <div class="my-projects-card-info">
                <p>
                  <span class="my-projects-card-info-accent">Technologies used:</span> HTML, CSS,
                  Typescript, React, Vercel
                </p>
                <p>
                  <span class="my-projects-card-info-accent">Description:</span> Image Gallery is a
                  modern web application for searching and viewing images, developed using
                  TypeScript and React. The user-friendly interface makes it easy to find the
                  desired photos, and the responsive design ensures comfortable use on any device.
                  Fast loading and intuitive navigation make working with the gallery simple and
                  enjoyable. Data is fetched through server requests, ensuring dynamic image loading
                  and up-to-date content.
                </p>
                <p><span class="my-projects-card-info-accent">Role:</span> Developer</p>
              </div>
            </article>
          </a>
        </li>
      </ul>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
